.place__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  text-align: left;
  color: white;
  margin: 0;
  align-self: center;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .place__title {
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__title {
    font-size: 42px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .place__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
  }
}
