.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  text-align: left;
  color: white;
  margin: 0;
  align-self: center;
}
@media screen and (min-width: 425px) and (max-width: 1024px) {
  .place__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 424px) {
  .place__title {
    font-size: 32px;
  }
}
