.page {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial, sans-serif";
  background-color: #2a2c2f;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .page {
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .page {
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .page {
  }
}

@media screen and (max-width: 425px) {
  .page {
  }
}
