.photo-grid {
  padding: 0 48px;
  margin: 0 auto 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .photo-grid {
    padding: 0 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    padding: 0 24px;
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding: 0 16px;
    margin: 0 auto 64px;
  }
}
