.places {
  margin: 0 auto 92px;
  max-width: 77%;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 90%;
    margin: 0 auto 90px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 720px;
    margin: 0 auto 66px;
  }
}
