.intro {
  max-width: 77%;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: none;
    width: 93.75%;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin-bottom: 64px;
  }
}
