.intro {
  padding-left: 148px;
  max-width: 65%;
  margin-bottom: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .intro {
    max-width: 65%;
    padding-left: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro {
    max-width: 95%;
    margin: 0 auto 88px;
    padding-left: 0;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .intro {
    margin: 0 auto 64px;
    max-width: 95%;
    padding-left: 0;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    margin: 0 auto 64px;
    max-width: 95%;
    padding-left: 0;
  }
}
