.intro {
  max-width: 984px;
  margin: 0 auto 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: none;
    width: 93.75%;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-bottom: 64px;
  }
}
