.cover__overlay {
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay::before {
  content: "";
  top: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  z-index: 2;
  -webkit-transition: opacity 300ms;
  transition: opacity 500ms;
}

.cover__overlay:hover {
  opacity: 0.5;
}
