.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .footer {
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .footer {
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
  }
}
