.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.1;
  text-align: left;
  color: white;
  margin: 0 0 40px;
  max-width: 690px;
}
@media screen and (max-width: 1023px) {
  .intro__title {
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 32px;
  }
}
